.spotDetails {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.locationAndReview{
  display: flex;
  flex-direction: row;
}

.reviewavg{
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
}

.SpotName{
  margin-bottom: 0px;
}

#star{
  margin-top: 20px;
}

#reviewsTop{
  margin-top: 22px;
  margin-left: 5px;
  font-weight: 600;
}

.SpotImage {
  width: 100%;
  height: 35rem;
}
