.spotDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 80px;
  padding-right: 80px;
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
  font-family: Montserrat,sans-serif;
}

.SpotImage {
  height: 500;
  width: auto;
}

.SpotName {
  font-weight: lighter;
}

.SpotPrice {
  font-weight: lighter;
}

.ownerName {
  font-weight: lighter;
}

.location {
  font-weight: lighter;
}

.avgRatingSpot {
  font-size: 22px;
}

.topinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.OwnerButtons {
  padding-top: 18px;
}

#DeleteSpotButton {
  background: linear-gradient(90deg,#df1c4d,#de056a);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12pt;
  font-weight: 600;
  height: 20px;
  width: 160px;
}

#UpdateSpotButton {
    background: linear-gradient(90deg,#df1c4d,#de056a);
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 600;
    height: 20px;
    width: 160px;
}

#LeaveReviewButton {
  background: linear-gradient(90deg,#df1c4d,#de056a);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12pt;
  font-weight: 600;
  height: 50px;
  width: 170px;
}

#LeaveReviewButton:hover {
  font-weight: bold;
  cursor: pointer;
}



.description {
  font-weight: lighter;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgb(199,197,197);
  border-bottom-color: rgb(199,197,197);
}
