.spotDetails {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.lowerHalf{
  display: flex;
  flex-direction: row;
}

.moreInfo{
  border-style: solid;
  border-color: black;
  width: 60%;
}

.locationAndReview{
  display: flex;
  flex-direction: row;
}

.reviewavg{
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
}

.fluff1{
  border-bottom-style: solid;
  border-color: #DDDDDD;
  border-width: 1px;
}
.basketCover{
  height: 29px;
  width: 186px;
}

.description{
  height: 260px;
  border-bottom-style: solid;
  border-color: #DDDDDD;
  border-width: 1px;
}

.descContent{
height: 70%;
padding-top: 32px;
padding-bottom: 32px;
}

.SpotName{
  margin-bottom: 0px;
}

#star{
  margin-top: 20px;
}

#reviewsTop{
  margin-top: 22px;
  margin-left: 5px;
  font-weight: 600;
}

.SpotImage {
  width: 100%;
  height: 35rem;
}
