.reviews {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 200px;
  grid-row-gap: 100px;
  width: 90%;
  }

  .reviewBody{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
  }

  #DeleteReviewButton{
    width: 80px;
    height: 26px;
    border-radius: 20px;
    color:rgb(255, 255, 255);
    background-color: black;
    border-style: none;
  }

  #DeleteReviewButton:hover{
    cursor: pointer;
  }
  /* .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 3 / 1 / 4 / 2; }
  .div6 { grid-area: 3 / 2 / 4 / 3; }
  .div7 { grid-area: 4 / 1 / 5 / 2; }
  .div8 { grid-area: 4 / 2 / 5 / 3; } */
