p, h1, h2, h3, span{
  font-family: Arial, Helvetica, sans-serif;
}

.reviews {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 200px;
  width: 90%;
  }

.reviewBody{
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

#DeleteReviewButton{
 width: 80px;
  height: 26px;
  border-radius: 20px;
  color:rgb(255, 255, 255);
  background-color: black;
  border-style: none;
}

  #DeleteReviewButton:hover{
    cursor: pointer;
  }
